body {
    background-color: #41B3A3;
    color: #FFFFFF;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  h1 {
    text-align: center;
  }
  img {
     padding:3px;
     border:1px solid 021a40;
     background-color:#C38D9E;
  }
  ul.b {
    list-style-type: square;