body {
    background-color: #EFE2BA;
    color: #4056A1
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  h1 {
    text-align: center;
  }
  img {
     padding:3px;
     border:1px solid #021a40;
     background-color:#F13C20;
  }
  ul.b {
    list-style-type: square;